/*=====================================*/
/*============= Start Global =========*/
/*===================================*/
body{
  background: url('../images/contentBackground.png'), no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
  font-family: 'Audiowide', cursive;
  font-size: 18px;
}
.body-wall{
  /*background-color: #1d1616;*/
  background: rgba(244, 245, 247,0.1);
}

.overlay{
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
}
*{
  margin: 0;
  padding: 0;
}
/*=====================================*/
/*============= Start Header =========*/
/*===================================*/
nav{
  min-height: 65px;
  border-bottom: 3px solid #cc0000;
  margin-bottom: 0;
  background: #000;
  font-size: 16px;
  width: 100%;
}

nav .navba-brand{
  font-size: 30px;
  color: #0ff;
  padding-left: 10px;
  display: block;
  width: 55%;
  float: left;
  text-decoration: none;
  padding-top: 10px;
}

nav .navba-brand:hover{
  color: #cc0000 ;
}
nav .sub{
  list-style: none;
  width: 45%;
  margin-top: 20px;
  float: right;
}

nav .sub li{
  display: inline;
}

nav .sub li a{
  text-decoration: none;
  background: #cc0000 transparent;
  padding: 20px 10px;
  color: #fff;
}

nav .sub li a:hover{
  background: #cc0000;
  color: #6ff700;
}
 .sub .active{
  background: #cc0000;
  color: #fff;
  padding: 20px 0;
}
h1, h2, .bran, .navba-brand{
  font-family: 'Baloo', cursive;
}
/*=====================================*/
/*============= Start welcoming =========*/
/*===================================*/
.welcoming{
	padding: 10px;
}
.welcoming h2{
	padding-top: 40px;
}

h2 span{
	color: #cc0000;
}

.welcoming h2 span:hover{
	color: #00ffff;
}

.welcoming p{
	padding: 20px 350px;
}
/*=====================================*/
/*============= Start Main-logo =========*/
/*===================================*/
.main-logo{
  position: relative;
  min-height: 300px;
  width: 100%;
  margin-top: 0;
  right: 7px;
}

.main-logo .logo-img{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.main-logo .logo-img img{
  width: 200px;
  height: 200px;
  border: 3px solid #cc0000;
}

.main-logo .media{
  position: absolute;
  height: 80px;
  width: 85%;
  background: #fff transparent;
  right:0;
  top: 50px;
  z-index: 2;
  border-radius: 10px;
  border: 3px solid #cc0000;
}

.main-logo .media .social-media{
   float: right;
   font-size: 25px;
   margin-left: 35px;
   margin-top: 19px;
}

.main-logo .media .subscrib{
   position: absolute;
  height: 80px;
  right: 60;
  top: 12px;
  left: 80px
}

.main-logo .media .subscrib input{
  padding: 11px 10px;
  border-radius: 10px;
}

.main-logo .media .subscrib .btn{
  padding: 12px;
}

.media .face >a {
  background: #3c589e;
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    border: 2px solid #3c589e;
    border-radius: 50%;
}

.media .face>a:hover{
 background: #fff;
  color: #3c589e;
  border: 2px solid #3c589e;
}


.media .yout > a{
    background: #d72523;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    border: 2px solid #d72523;
    border-radius: 50%;
}

.media .yout>a:hover{
 background: #fff;
  color: #d72523;
  border: 2px solid #d72523;
}

.media .twit>a{
  background: #32cdfd;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  border: 2px solid #32cdfd;
  border-radius: 50%;
}

.media .twit>a:hover{
 background: #fff;
  color: #32cdfd;
  border: 2px solid #32cdfd;
}

.media .goog>a{
  background: #d41616;
  border: 2px solid #d41616;
  color: #fff;
  text-decoration: none;
  padding: 15px 18px;
  border-radius: 50%;
}

.media .goog>a:hover{
 background: #fceee1;
  color:  #d41616;
  border: 2px solid #d41616;
}
.about-media .social-media{
  padding-top: 45px;
}
/*=====================================*/
/*============= Start Our Services =========*/
/*===================================*/
.services{
  max-width: 100%;
  min-height: 550px;
  overflow: hidden;
  padding-bottom: 80px;
}

.services h2{
  margin: 5px 0 0 0;
  font-size: 40px;
  padding-left: 10px;
  margin-bottom: 60px;
  border-bottom: 4px dotted #A9A9A9;
  padding-bottom: 15px;
  padding-top: 10px;
  border-top: 4px dotted #A9A9A9;
}

.services h2 span{
  color: #cc0000;
  border-bottom: 3px solid #cc0000;
}

.services h2 span:hover{
  color: #0ff;
  border-bottom: none;;
}

.services .box{
 width: 33.3333%;
 float: left;
 margin-top: 20px;
}

.services .box i{
  font-size: 50px;
  border-radius: 60%;
  margin-bottom: 10px;
  padding: 40px
}

.box .design{
  color: #B522F1;
  border: 8px dotted #cc0000;
}

.box .design:hover{
  color: #5FF122;
   border: 8px solid #B522F1;
}

.box .develop{
  color: #f00;
  border: 8px dotted #fff;
}

.box .develop:hover{
  color: #8BF8E7;
   border: 8px solid #5FF122;
}

.box .graphic{
  color: #0ff;
    border: 8px dotted #cc0000;
}

.box .graphic:hover{
  color: #B522F1;
  border: 8px solid #fff;
}

.services .box h3{
  margin: 20px 0;
}

.services .box p{
  padding: 0px 15px;
  margin-bottom: 30px;
}

.services .box h3 span{
  color: #cc0000;
}

.services .box h3 span:hover{
  color: #0ff;
}

/*=====================================*/
/*============= Start Contact =========*/
/*===================================*/
.contact{

  padding-bottom: 40px;
  min-height: 660px;
  margin-top: 22px;
}

.contact >h1{
  margin-bottom: 30px;
  padding: 20px 0 20px 10px;
  font-size: 30px;
  background: #417a32;
  min-height: 60px;
  border: 3px solid #375e2d;
}
.input-feild{
  margin-bottom: 10px;
}

.contact form{
  margin-left: 5px;
}

.input-feild input{
   background: transparent;
  border: 1px solid #cc0000;
  color: #fff;
}

.form-control {
    display: block;
    height: 45px;
    border-radius: 15px;
}
.contact form textarea{
  margin-bottom: 10px;
  padding: 5px 0px 170px 10px;
  background: transparent;
  border: 1px solid #cc0000;
  color: #fff;
}
.contact form .btn{
  padding: 10px 30px
}
/*=====================================*/
/*============= Start Aside =========*/
/*===================================*/
.contact aside{
  background: #ddd;
  margin-bottom: 15px;
}

.contact aside h2{
  background: #000;
  padding: 10px;
  margin:0;
}

.contact aside ol{
  background: #0ff;
}

.contact aside ol li{
  padding: 8px
}

.contact aside ol li a{
  text-decoration: none;
  color: #000;
}
/*=====================================*/
/*============= Start Move-top =========*/
/*===================================*/
.move i{
  position: fixed;
  top: 150px;
  left: 20;
  right: 30px;
  bottom: 0;
  z-index: 8;
  font-size: 80px;
}

.move a{
  text-decoration: none;
  color: #fff;
}
/*=====================================*/
/*============= Start About =========*/
/*===================================*/
.about{
  overflow: hidden;
  max-width: 100%;
  position: relative;
  color: #000;
  font-weight: bold;
  border-top: 3px solid #cc0000;
  height: 650px;
}
.pra-button{
  padding: 15px;
}
.about-welcoming p {
    padding: 20px 80px;
    text-align: left;
}
.about-content{
  padding-left: 10px;
  padding-right: 10px;
}
.about-content .header{
  padding-left: 15px;
}
.about-media{
    position: absolute;
    right: -110px;
    top: 150px;
    width: 200px;
    height: 600px;
    font-size: 25px;
}
.about img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    z-index: 0;
}
h1, h2, .brand{
  font-family: 'Baloo', cursive;
}
.about .overlay{
    background: rgba(244, 245, 247,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*=====================================*/
/*======= Start registration =========*/
/*===================================*/
.register{
  background: rgba(244, 245, 247,0.2);
  padding: 10px 0 50px 0;
  width: 45%;
  margin: 30px auto 30px auto;
  border-radius: 10px;
}
.register .header{
  text-align: center;
  padding-bottom: 10px;
}
.register form{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.register form input{
    width: 100%;
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px solid #cc0000;
    color: #000;
}
.register form button{
  background: #cc0000;
    margin-top: 10px;
    border: 2px solid #cc0000;
    border-radius: 5px;
    padding: 3px 5px;
}
.register form a:last-child{
  text-decoration: none;
  color: #00ffff;
  margin-left: 45px;
}
/*=====================================*/
/*============ Start Sign in =========*/
/*===================================*/
.signIn{
    width: 35%;
    margin: 100px auto 125px auto;
}
/*=====================================*/
/*============= Start Footer =========*/
/*===================================*/
footer{
    min-height: 70px;
    background: #000;
    width: 100%;
    padding-top: 20px;
    border-top: 3px solid #cc0000;
}

.btn:hover{
  background: #cc0000;
  color: #000;
  border: 1px solid #cc0000;
}
/*======================= My Frame Work =======================*/
.container{
	position: relative;
}
/*=====================================*/
/*============= Start @Media =========*/
/*===================================*/
@media(max-width: 591px){
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
/*********************************/
/********* Start Dropmenu********/
/*******************************/
nav{
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}
nav .navba-brand{
  position: absolute;
  top: 0;
}
nav .menu-icon{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  background: #cc0000;
}

nav .sub{
  position: absolute;
  width: 100%;
  padding-top: 8px;
  margin-top: 0;
  float: none;
  display: none;
  top: 52px;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 900000;
  padding-left: 0px !important;
  text-align: center;
}
.menu:hover .sub{
  display: block;
}
nav .sub li{
  padding: 25px 0;
  border: 1px solid #414449;
  background: #000;
  position: relative;
  display: block;
}
.sub li:hover{
  background: #545b66;
}
nav .sub li a{
  text-decoration: none;
  padding: 10px 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
nav .sub .active{
  background: #cc0000;
	border: none;
	border: 3px solid #cc0000;
  padding: 25px 0;
}
    
nav .sub .active:hover{
  background: #cc0000;
	border: 3px solid #cc0000;
}
.container{
	position: relative !important;
	padding-left: 5;
	padding-right: 5;
}
/*========= End Drop===========*/
  .welcoming p {
    padding: 20px 31px;
  }
  .main-logo{
    display: none;
  }
 .services .box img{
   margin-top: 50px;
}

.services .box{
 width: 100%;
}

 .services .box .btn:not(.last-btn){
    margin-bottom: 40px;
  }

 .services .box i{
  padding: 20px
}

.btn-info{
   font-size: 12px;
  }
 .services h2 span{
  display: block ;
   border-bottom: none;
   font-size: 25px
  }
 .contact aside{
  display: none;
}
.contact h1{
  font-size: 20px;
}
.move i{
  position: fixed;
  top: 150px;
  left: 20;
  right: 5px;
  bottom: 0;
  z-index: 8;
  font-size: 40px;
}
.move a{
  color: #cc0000;
}
.contact form{
  margin: 5px;
}
.contact form .btn{
  padding: 7px 15px
}
.contact {
    min-height: 530px;
}
.welcoming h2{
   padding-top: 20px
}
.about{
  height: 540px;
}
.about-welcoming p {
    padding: 10px;
    text-align: inherit;
}
.bran h1{
  font-size: 25px;
  padding-top: 15px;
}
.about p{
  padding: 20px;
}
.about{
  background: rgba(244, 245, 247,0.1);
}
.about img{
  display: none;
}
/*======= Registration form =======*/
.register{
  width: 80%;
}
.signIn{
  width: 67%;
}
.register form input {
    font-size: 14px;
}
}
/*=====================================*/
/*============= 592 => 767px =========*/
/*===================================*/
@media(min-width: 592px) and (max-width:767px){
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
/*********************************/
/********* Start Dropmenu********/
/*******************************/
nav{
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}
nav .navba-brand{
  position: absolute;
  top: 0;
}
nav .menu-icon{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  background: #cc0000;
}

nav .sub{
  position: absolute;
  width: 100%;
  padding-top: 8px;
  margin-top: 0;
  float: none;
  display: none;
  top: 52px;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 900000;
  padding-left: 0px !important;
  text-align: center;
}
.menu:hover .sub{
  display: block;
}
nav .sub li{
  padding: 25px 0;
  border: 1px solid #414449;
  background: #000;
  position: relative;
  display: block;
}
.sub li:hover{
  background: #545b66;
}
nav .sub li a{
  text-decoration: none;
  padding: 10px 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
nav .sub .active{
  background: #cc0000;
	border: none;
	border: 3px solid #cc0000;
  padding: 25px 0;
}
    
nav .sub .active:hover{
  background: #cc0000;
	border: 3px solid #cc0000;
}
.container{
	position: relative !important;
	padding-left: 5;
	padding-right: 5;
}
/*========= End Drop===========*/
  .main-logo .media .social-media{
   display: none;
}
.welcoming p {
    padding: 20px 135px;
}
.main-logo .media .subscrib{
  position: static;
  float: right;
  margin-top: 15px;
}

 .main-logo .media .subscrib input{
  padding: 11px 0 11px 30px;
  border-radius: 10px;
  text-align: center;
}

  .main-logo{
    margin-top: 10px;
  }

.services .box{
 width: 100%;
}

  .services .box .btn:not(.last-btn){
    margin-bottom: 40px;
  }

  .main-logo{
    margin-top: 90px
  }

   .contact aside{
  display: none;

}

.mov{
  position: fixed;
  top: 150px;
  left: 20;
  right: 5px;
  bottom: 0;
  z-index: 8;
  font-size: 40px;
}
.mov{
  color: #cc0000;
}
.contact form{
  margin: 5px;
}
.bran h1{
  font-size: 25px;
  padding-top: 15px;
}

.about p{
  padding: 0px 50px 0px 0px;
}
/*======= Registration form =======*/
.register{
  width: 60%;
}
.signIn{
  width: 52%;
}
}
/*=====================================*/
/*============= 768 => 991px =========*/
/*===================================*/
@media(min-width: 768px) and (max-width: 991px){
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
/*********************************/
/********* Start Dropmenu********/
/*******************************/
nav{
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}
nav .navba-brand{
  position: absolute;
  top: 0;
}
nav .menu-icon{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  background: #cc0000;
}

nav .sub{
  position: absolute;
  width: 100%;
  padding-top: 8px;
  margin-top: 0;
  float: none;
  display: none;
  top: 52px;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 900000;
  padding-left: 0px !important;
  text-align: center;
}
.menu:hover .sub{
  display: block;
}
nav .sub li{
  padding: 25px 0;
  border: 1px solid #414449;
  background: #000;
  position: relative;
  display: block;
}
.sub li:hover{
  background: #545b66;
}
nav .sub li a{
  text-decoration: none;
  padding: 10px 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
nav .sub .active{
  background: #cc0000;
	border: none;
	border: 3px solid #cc0000;
  padding: 25px 0;
}
    
nav .sub .active:hover{
  background: #cc0000;
	border: 3px solid #cc0000;
}
.container{
	position: relative !important;
	padding-left: 5;
	padding-right: 5;
}
/*========= End Drop===========*/
.welcoming p {
    padding: 20px 235px;
}
.main-logo .media .subscrib{
   display: none;
}

.main-logo .media .subscrib input{
  padding: 11px 10px;
  border-radius: 10px;
}

 .main-logo{
    margin-top: 20px;
  }
  .main-logo{
    margin-top: 90px
  }
.about p{
  padding: 0 50px 0 0;
}
/*======= Registration form =======*/
.register{
  width: 50%;
}
/*======= Registration form =======*/
.signIn{
  width: 40%;
}
}
/*=====================================*/
/*============= 992 => 1199px =========*/
/*===================================*/
@media(min-width: 992px) and (max-width: 1199px){
  .welcoming p{
  	padding: 20px 225px;
}
 .main-logo .media .social-media{
   margin-left: 3px;
}
 .main-logo{
    margin-top: 70px
  }
  .main-logo .media .subscrib {
      left: 60px;
  }
}
/*=====================================*/
/*============= 1200px =>  =========*/
/*===================================*/
@media(min-width: 1200px){

 .main-logo .media .social-media{
   margin-left: 35px;
}
  .main-logo{
    margin-top: 30px
  }
  .navba .links {
    width: 37%;
}
}
