/*=====================================*/
/*============= Start Global =========*/
/*===================================*/
body{
  background: url('http://res.cloudinary.com/durykvdaf/image/upload/v1490642323/bodybackground_v1k2iv.jpg')no-repeat;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
  position: relative;
  color: #fff;
  font-family: 'Audiowide', cursive;
  font-size: 18px;
}

.overlay{
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
   padding: 15px 0px 0px 0px!important;
   margin-top: 0px!important;
}
/*=====================================*/
/*============= Start Header =========*/
/*===================================*/
.navbar-inverse{
  min-height: 65px;
  border-radius: 0;
  border-bottom: 3px solid #cc0000;
  margin-bottom: 0px !important;
  background: #000;
  font-size: 16px;
}

.navbar-brand{
  margin-top: 5px;
  font-size: 30px;
  color: #0ff !important;
}

.navbar-brand:hover{
  color: #cc0000 !important;
}

.navbar-inverse .navbar-nav :not(:first-child){
  padding: 7px !important;
}.navbar-inverse .navbar-nav li:last-of-type{
  padding-right: 0px !important;
  margin-left: 0px !important;
}

.navbar-inverse .navbar-nav a:last-of-type{
  padding-right: 0px !important;
  margin-left: 0px !important;
}

.navbar-inverse .navbar-nav .active>a{
  padding: 22px 15px !important;
  background: #cc0000 !important;
  color: #ddd
}

/*=================== Second nav =====================*/
nav{
  min-height: 60px;
  margin-bottom: 0px !important;
  background: #545b66;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}
nav .bran h1{
  margin: 0;
  position: relative;
  padding-top: 17px;
}
nav ul{
  list-style: none;
}

h1, h2, .bran, .navbar-brand{
  font-family: 'Baloo', cursive;
}

nav .menu-icon{
  position: absolute;
  right: 15px;
  top: 0px;
  padding: 13px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  background: #000;
}

nav .sub{
  position: absolute;
  width: 100%;
  padding-top: 8px;
  display: none;
  top: 50px;
  right: 15px;
  bottom: 0;
  height: 100%;
  z-index: 900000;
}
.menu:hover .sub{
  display: block;
}
nav .sub li{
  padding: 20px 0px 30px 10px;
  border: 1px solid #414449;
  margin: 0;
  background: #000;
  position: relative;
}
.sub li:hover{
  background: #545b66;
}
nav .sub li a{
  text-decoration: none;
  padding: 10px 0px 15px 10px;
  color: #fff;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.sub li a:hover{
  color: #6ff700;
}

/*=====================================*/
/*============= Start Main-logo =========*/
/*===================================*/
.main-logo{
  position: relative;
  min-height: 300px;
  width: 100%;
  margin-top: 0;
  right: 7px;
}

.main-logo .logo-img{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.main-logo .logo-img img{
  width: 200px;
  height: 200px;
  border: 3px solid #cc0000;
}

.main-logo .media{
  position: absolute;
  height: 80px;
  width: 85%;
  background: #fff transparent;
  right:0;
  top: 50px;
  z-index: 2;
  border-radius: 10px;
  border: 3px solid #cc0000;
}

.main-logo .media .social-media{
   float: right;
   font-size: 25px;
   margin-left: 35px;
   background: #000;
  padding: 16px;
  border-radius: 50%;
  margin-top: 3px;
}

.main-logo .media .subscrib{
   position: absolute;
  height: 80px;
  right: 60;
  top: 12px;
  left: 80px
}

.main-logo .media .subscrib input{
  padding: 11px 10px;
  border-radius: 10px;
}

.main-logo .media .subscrib .btn{
  padding: 12px;
}

.main-logo .media .face,
.main-logo .media .face>a{
 background: #3c589e;
  color: #fff;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid #3c589e;
}

.main-logo .media .face:hover,
.main-logo .media .face>a:hover{
 background: #fff;
  color: #3c589e;
  border: 2px solid #3c589e;
}

.main-logo .media .yout,
.main-logo .media .yout>a{
 background: #d72523;
  color: #fff;
  text-decoration: none;
  border: 2px solid #d72523;
}

.main-logo .media .yout:hover,
.main-logo .media .yout>a:hover{
 background: #fff;
  color: #d72523;
  border: 2px solid #d72523;
}

.main-logo .media .twit,
.main-logo .media .twit>a{
 background: #32cdfd;
  color: #fff;
  text-decoration: none;
  border: 2px solid #32cdfd;
}

.main-logo .media .twit:hover,
.main-logo .media .twit>a:hover{
 background: #fff;
  color: #32cdfd;
  border: 2px solid #32cdfd;
}

.main-logo .media .goog,
.main-logo .media .goog>a{
 background: #d41616;
  color: #fceee1;
  text-decoration: none;
  border: 2px solid #d41616;
}

.main-logo .media .goog:hover,
.main-logo .media .goog>a:hover{
 background: #fceee1;
  color:  #d41616;
  border: 2px solid #d41616;
}

/*=====================================*/
/*============= Start Our Services =========*/
/*===================================*/
.services{
  max-width: 100%;
  min-height: 550px;
  overflow: hidden;
  padding-bottom: 80px;
}

.services h2{
  margin: 5px 0 0 0;
  font-size: 40px;
  padding-left: 10px;
  margin-bottom: 60px;
  border-bottom: 4px dotted #A9A9A9;
  padding-bottom: 15px;
  padding-top: 10px;
  border-top: 4px dotted #A9A9A9;
}

.services h2 span{
  color: #cc0000;
  border-bottom: 3px solid #cc0000;
}

.services .box{
 width: 33.3333%;
 float: left;
 margin-top: 20px;
}

.services .box i{
  font-size: 50px;
  border-radius: 60%;
  margin-bottom: 10px;
  padding: 40px
}

.box .design{
  color: #B522F1;
  border: 8px dotted #cc0000;
}

.box .design:hover{
  color: #5FF122;
   border: 8px solid #B522F1;
}

.box .develop{
  color: #f00;
  border: 8px dotted #fff;
}

.box .develop:hover{
  color: #8BF8E7;
   border: 8px solid #5FF122;
}

.box .graphic{
  color: #0ff;
    border: 8px dotted #cc0000;
}

.box .graphic:hover{
  color: #B522F1;
  border: 8px solid #fff;
}

.services .box h3{
  margin: 20px 0px;
}

.services .box p{
  padding: 0px 15px;
  margin-bottom: 30px;
}

.services .box h3 span{
  color: #cc0000;
}

/*=====================================*/
/*============= Start Comments =========*/
/*===================================*/
.comments{

  padding-bottom: 40px;
  min-height: 600px;
  margin-top: 22px;
}

.comments >h1{
  margin-bottom: 30px;
  padding: 10px;
  font-size: 30px;
  background: rgba(0, 0, 0, 1);
  min-height: 60px;
}
.input-feild{
  margin-bottom: 10px;
}

.comments form{
  margin-left: 5px;
}

.input-feild input{
   background: transparent;
  border: 1px solid #cc0000;
  color: #fff;
}

.form-control {
    display: block;
    height: 45px;
    border-radius: 15px;
}
.comments form textarea{
  margin-bottom: 10px;
  padding: 5px 0px 120px 10px;
  background: transparent;
  border: 1px solid #cc0000;
  color: #fff;
}
.comments form .btn{
  padding: 10px 30px
}
/*=====================================*/
/*============= Start Aside =========*/
/*===================================*/
.comments aside{
  background: #ddd;
  margin-bottom: 15px;
}

.comments aside h2{
  background: #000;
  padding: 10px;
  margin:0;
}

.comments aside ol{
  background: #0ff;
}

.comments aside ol li{
  padding: 8px
}

.comments aside ol li a{
  text-decoration: none;
  color: #000;
}
/*=====================================*/
/*============= Start Move-top =========*/
/*===================================*/
.move i{
  position: fixed;
  top: 150px;
  left: 20;
  right: 30px;
  bottom: 0;
  z-index: 8;
  font-size: 80px;
}

.move a{
  text-decoration: none;
  color: #fff;
}
/*=====================================*/
/*============= Start About =========*/
/*===================================*/
.about{
  overflow: hidden;
  max-width: 100%;
  height: 660px;
  position: relative;
  color: #000;
  font-weight: bold;
  border-top: 3px solid #cc0000;
}

.about img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    z-index: 0;
}

h1, h2, .brand{
  font-family: 'Baloo', cursive;
}

.about p{
  padding: 0px 710px 0px 0px;
}

.about .overlay{
    background: rgba(244, 245, 247,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
}

/*=====================================*/
/*============= Start Footer =========*/
/*===================================*/
footer{
    min-height: 70px;
    background: #000;
    width: 100%;
    padding-top: 20px;
    border-top: 3px solid #cc0000;
}

.btn:hover{
  background: #cc0000;
  color: #000;
  border: 1px solid #cc0000;
}
/*=====================================*/
/*============= Start @Media =========*/
/*===================================*/
@media(max-width: 591px){
  .main-logo{
    display: none;
  }
 .services .box img{
   margin-top: 50px;
}

.services .box{
 width: 100%;
}

 .services .box .btn:not(.last-btn){
    margin-bottom: 40px;
  }

 .services .box i{
  padding: 20px
}

.btn-info{
   font-size: 12px !important;
  }

 .services h2 span{

  display: block !important;
   border-bottom: none;
   font-size: 25px
  }

 .comments aside{
  display: none;
}
.comments h1{
  font-size: 20px;
}

 .navbar-inverse{
  position: relative !important;
}

.move i{
  position: fixed;
  top: 150px;
  left: 20;
  right: 5px;
  bottom: 0;
  z-index: 8;
  font-size: 40px;
}
.move a{
  color: #cc0000;
}
.comments form{
  margin: 5px;
}
.comments form .btn{
  padding: 7px 15px
}
.welcoming h2{
   padding-top: 40px
}
.bran h1{
  font-size: 25px;
  padding-top: 15px;
}
.about p{
  padding: 20px;
}
}

@media(min-width: 592px) and (max-width:767px){
  .main-logo .media .social-media{
   display: none;
}

.main-logo .media .subscrib{
  position: static;
  float: right;
  margin-top: 15px;
}

 .main-logo .media .subscrib input{
  padding: 11px 0px 11px 30px;
  border-radius: 10px;
}

  .main-logo{
    margin-top: 10px;
  }

.services .box{
 width: 100%;
}

  .services .box .btn:not(.last-btn){
    margin-bottom: 40px;
  }

  .main-logo{
    margin-top: 90px
  }

   .comments aside{
  display: none;

}

.navbar-inverse{
  position: relative !important;
}
.mov{
  position: fixed;
  top: 150px;
  left: 20;
  right: 5px;
  bottom: 0;
  z-index: 8;
  font-size: 40px;
}
.mov{
  color: #cc0000;
}
.comments form{
  margin: 5px;
}
.bran h1{
  font-size: 25px;
  padding-top: 15px;
}
	
.about p{
  padding: 0px 50px 0px 0px;
}
	
}

@media(min-width: 768px) and (max-width: 991px){
  .nav{
  width: 52%;
}
.bran h1{
  font-size: 25px;
  padding-top: 15px;
}
.navbar-header{
  width: 48%;
}

.main-logo .media .social-media{
   float: right;
   font-size: 25px;
   margin-left: 30px;
   background: #000;
  padding: 16px;
  border-radius: 50%;
  margin-top: 3px;
}

.main-logo .media .subscrib{
   display: none;
}

.main-logo .media .subscrib input{
  padding: 11px 10px;
  border-radius: 10px;
}

.main-logo .media .face,
.main-logo .media .face>a{
 background: #3c589e;
  color: #fff;
  text-decoration: none;
  padding-left: 13px;
  padding-right: 13px;
}

.main-logo .media .yout,
.main-logo .media .yout>a{
 background: #d72523;
  color: #fff;
  text-decoration: none;
}

.main-logo .media .twit,
.main-logo .media .twit>a{
 background: #32cdfd;
  color: #fff;
  text-decoration: none;
}

.main-logo .media .goog,
.main-logo .media .goog>a{
 background: #d41616;
  color: #fceee1;
  text-decoration: none;
}

 .main-logo{
    margin-top: 20px;
  }
  .main-logo{
    margin-top: 90px
  }
.about p{
  padding: 0px 50px 0px 0px;
}
	
}

@media(min-width: 992px) and (max-width: 1199px){
    .nav{
  width: 40%;
}

.navbar-header{
  width: 60%;
}
 .main-logo .media .social-media{
   margin-left: 15px;
}

 .main-logo{
    margin-top: 70px
  }
}

@media(min-width: 1200px){

 .main-logo .media .social-media{
   margin-left: 35px;
}

  .main-logo{
    margin-top: 30px
  }
}

/*       */
.container{
	position: relative !important;
}